<!doctype html>
<head>
    <meta charset="UTF-8">
    <title>View Applications</title>
    <script src='axios.min.js'></script>
    <style>
    .application
    {
        border-bottom : 1px solid #ddd;
        padding-bottom: 1em;
        padding-top: 1em;
    }
    </style>
</head>
<body>

    <% if(locals.applications) { %>
        <a style='float: right' href='/applications?end_session=true'>Log Out</a>
        <h1>Applications Pending Decision</h1>
    <%
            for(let i = 0; i < applications.length; ++i) { %>
            <div class='application'>
                <b>User Name:</b><span class='user_name'>
                    <%= applications[i]._id.user_name %>
                </span><br>
                <b>Role:</b><% if(applications[i]._id.role == true) { %>
                    <span class='role'>Developer</span>
                <% } else { %>
                    <span class='role'>Client</span>
                <% } %><br>
                <b>Amount specified for deposit:</b>
                <span class='deposit_amount'>
                    $<%= applications[i].deposit_amount %>
                </span><br>
                <b>Date Applied:</b>
                <span class='creation_time'>
                    <%= new Date(applications[i]._id.creation_time) %>
                </span><br>
                <span>
                <a class='accept' id='<%=applications[i]._id._id%>' style='margin-right: 1em;' href>Accept</a>
                <a class='reject' id='<%=applications[i]._id._id%>' href>Reject</a>
                </span>
            </div>
    <%      } %>
    <% } else { %>
        <form actions='/applications' method='post'>
        <input
            type='password'
            placeholder='Access Code'
            name='access_code'><br><br>
        <button
            type='submit'>Enter</button>
        <% if(locals.invalid) { %>
            <br><b style='color: red'>Invalid Access Code, try again</b>
        <% } %>
    </form>
    <% } %>

    <script>

    document.addEventListener('DOMContentLoaded', (event) =>
    {
        let decision = document.getElementsByTagName('a');
        for(let i = 0; i < decision.length; ++i)
        {
            decision[i].addEventListener('click', (event) =>
            {
                event.preventDefault();
                let elem = decision[i];
                elem.setAttribute('style', 'display : none');

                if(elem.className == 'accept')
                    decision[i+1].setAttribute('style', 'display : none');
                else
                    decision[i-1].setAttribute('style', 'display : none');

                elem.parentElement.parentElement
                .setAttribute('style', 'opacity: 0.5');

                // FIXME: scoping issues are appearing
                axios.post
                (
                    '/decision',
                    {
                        user_id : elem.id,
                        boolean : elem.className == 'accept' ? true : false
                    }
                )
                .then((result) =>
                {
                    console.log(result);
                    // elem.parentElement.innerHTML = 'sent';
                    // elem.parentNode.removeChild(elem);
                })
                .catch((err) =>
                {
                    // elem.parentElement.innerHTML =
                        // `<b style='color: red'>Error saving decision</b>`;
                    console.log('Error:\n', err);
                })
            });
        }
    })
    </script>

</body>