<!doctype html>
<html>
<head>
  <title>Top Users</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
  <header>
    <% include ../partials/navbar %>
    <div class="page-header text-center">
      <h1>Top and similar Users</h1>
    </div>
  </header>
  <main>
    <div class="container">
      <strong>Number of Clients</strong>: <%= clients %><br>
      <strong>Number of Developers</strong>: <%= developers %><br>
      <strong>Most Paid Developers</strong> <br>
      <% for (var key in mostPaidDevelopers) { %>
	    Name: <%= mostPaidDevelopers[key].local.realname %><br>
	    Deposit: <%= mostPaidDevelopers[key].local.deposit %>
	    <br><br>
	  <% } %>
	  <strong>Clients With Most Projects</strong> <br>
      <% for (var key in mostProjectClients) { %>
	    Name: <%= mostProjectClients[key].local.realname %><br>
	    # of Projects: <%= mostProjectClients[key].__v %>
	    <br><br>
	  <% } %>
    </div>
  </main>
</body>
</html>